*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    width: 100%;
}

main > nav{
    flex: 0 0 10%;
    height: 100%;
    background-color: #bbc7a4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 10px;
}

main > nav > h2{
    align-self: center;
}

main > nav > .boards-section{
    background-color: #929c7f;
    margin-top: 20px;
    padding: 2px 4px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-height: 400px;
}

main > nav > .boards-section > .boards-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 2px;
}

main > nav > .boards-section > .boards-section-header > .new-board-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
    transition: all 200ms;
}

main > nav > .boards-section > .boards-section-header > .new-board-button:hover{
    background-color: #798368;
}

main > nav > .boards-section > .boards-tabs-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 2px;
}

main > nav > .boards-section > .boards-tabs-container > .board-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;
    background-color: #798368;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    font-size: .82rem;
}

main > nav > .boards-section > .boards-tabs-container > .board-tab > .delete-board-button{
    width: 20px;
    height: 20px;
    margin-right: -3px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
    transition: all 200ms;
}

main > nav > .boards-section > .boards-tabs-container > .board-tab > .delete-board-button:hover{
    background-color: #606852;
}


main > nav > .color-picker {
  margin-top: auto;
  margin-bottom: 10px;
  align-self: center;
  border: none;
  width: 100px;
  height: 15px;
  border-radius: 4px;
}

main > .board{
    height: 100%;
    flex: 1;
    background-color: #f2f5ea;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main > .board > .todo-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main > .board > .todo-wrapper > .todo{
    width: 250px;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #d6dbd2;
    border-radius: 4px;
    padding: 8px 10px;
    gap: 4px;
}

main > .board > .todo-wrapper > .todo > .todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > .board > .todo-wrapper > .todo > .todo-header > .todo-header-buttons > button{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms;
}

main > .board > .todo-wrapper > .todo > .todo-header > .todo-header-buttons > button:hover{
    background-color: #a5ada0;
}

main > .board > .todo-wrapper > .todo > .todo-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main > .board > .todo-wrapper > .todo > .todo-content > p {
    font-size: .95rem;
}

main > .board > .todo-wrapper > .todo > .todo-content > .tasks-wrapper {
    font-size: 15px;
    display: flex;
    border: 1px solid #a1a79e;
    border-radius: 4px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
}
main > .board > .todo-wrapper > .todo > .todo-content > .tasks-wrapper > p{
    display: flex;
    align-items: center;
    gap: 5px;
}


main > .board > .new-todo-button{
    margin-top: auto;
    align-self: flex-end;
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #2c363f;
    color: #e75a7c;
    cursor: pointer;
    transition: all 250ms;
}

main > .board > .new-todo-button:hover{
    /*filter: brightness(1.5);*/
    background-color: #495968;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d6dbd2;
}

